* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
}

#forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: auto;
  width: 20%;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 1%;
  width: 20%;
}
